/**
* Accounting Journal Plugin Styles
* This file contains the styles for the Accounting Journal Plugin.
* It defines the appearance of journals entries, ledger entries, and error messages.
*/

/**
* Styles for journal entries
*/



div.acjp-error {


    font-family: var(---font-monospace-theme, monospace);
    border: 2px solid var(--text-error, #ff0000);
    border-radius: var(--radius-s, 4px);
    padding: 4px 8px;

}

table.acjp-table {

    border-collapse: separate;
    border-spacing: 10px;


}

.acjp-table * tr td {
    border: 0;
}

.acjp-table .acjp-center,
.acjp-modern-table .acjp-center,
.acjp-ledger-table .acjp-center {
    text-align: center;
}



.acjp-table .acjp-number {
    text-align: right;
    width: 15%;
}

.acjp-table .acjp-name {
    width: 32%;
}

.acjp-table .acjp-separator {
    width: 6%;
}



.acjp-table tbody tr:first-child td:nth-child(even) {

    border-top: 1.5px solid;
}


.acjp-table tbody tr:last-child td:nth-child(even) {

    border-bottom: 1.5px solid
}

/* Adds read color to journal if it is not balanced (selector .class1.class2 aplies the format to those HTML elements that have both classes */

.acjp-table.acjp-not-balanced tbody tr:last-child td:nth-child(even),
.acjp-table.acjp-not-balanced tbody tr:first-child td:nth-child(even),
table.acjp-modern-table.acjp-not-balanced,
table.acjp-modern-table.acjp-not-balanced thead tr td {
    border-color: var(--text-error, #ff0000);
}



table.acjp-modern-table.acjp-not-balanced tbody tr:last-child td {

    border-bottom-color: var(--text-error, #ff0000);
}

/**
* Styles for  modern journal entries
*/

table.acjp-modern-table {

    border-collapse: collapse;

    width: 100%;
    border: 2px solid;
}

table.acjp-modern-table thead tr td {

    border: 2px solid;
    border-bottom: 4px solid;

    text-align: center;

}

table.acjp-modern-table tbody tr td.acjp-number {

    text-align: right;
    width: 20%;
}

table.acjp-modern-table tbody tr td.acjp-ledger-account-name {

    width: 50%;
    text-align: left;
}



/* Concept */
table.acjp-modern-table tbody tr:last-child td {
    border-bottom: 2px solid;
}

/**
* Styles for ledger entries
*/

table.acjp-ledger-table {

    border-collapse: collapse;
    border-spacing: 10px;

    margin: 0 auto;
    width: 50%;
    padding: 0 25%;

}


table.acjp-ledger-table thead tr td {
    border: 0;
    border-bottom: 2px solid;
    text-align: center;
}

table.acjp-ledger-table tbody tr td {
    border: 0;
}

table.acjp-ledger-table tbody tr td:first-child {
    width: 50%;
    border-right: 2px solid;
    text-align: left;

    padding-left: 8%;
}

table.acjp-ledger-table tbody tr td:last-child {
    width: 50%;
    border-left: 2px solid;
    text-align: right;

    padding-right: 8%;
}